<article class="card h-100">
  <img
    [ngSrc]="game().url"
    [alt]="game().name"
    height="200"
    width="360"
    priority
  />
  <div class="card-body">
    <h5 class="card-title text-warning">{{ game().name | uppercase }}</h5>
    <p class="card-text">Vota por "{{ game().name }}" como juego del año</p>
  </div>

  <div class="card-footer">
    <button
      class="btn btn-outline-warning w-100"
      (click)="vote(game())"
      [disabled]="disabledButton"
    >
      Votar @if (disabledButton) {
      <div
        class="spinner-border text-warning"
        role="status"
        style="height: 15px; width: 15px"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      }
    </button>
  </div>
</article>
